.interaction-prompt {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    &.hide {
        opacity: 0;
    }

    &.show {
        opacity: 1;
        background: rgb(0 0 0);
    }

    .bubble {
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 6px 8px;
        border-radius: 6px;
        background-color: dimgrey;
        color: white;
        font-family: sans-serif;
        font-size: 14px;
    }

    .reason {
        margin-top: 6px;
        padding: 6px 10px;
        border-radius: 6px;
        //background: center;
        color: #00ffff;
        font-size: 14px;
        text-align: center;
    }
}
